.file-line {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  font-size: 12pt;
  line-height: 1.5;

  .file-entry {
    color: var(--color-green);
    flex: 1;
    display: flex;

    &:hover {
      background-color: var(--color-higlight);
      cursor: pointer;
    }
  }

  .is-dir {
    color: var(--color-green);
  }

  .is-file {
    color: var(--color-blue);
    padding-left: 0.4em;
  }

  .file-name {
    flex: 1;
    text-align: left;
  }
}
