@import '_base.scss';

#header {
  color: var(--color-foreground);
  background-color: var(--color-background-1);

  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: var(--color-border);

  @include color-transition;

  padding: 0 2vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .app-name {
    font-family: 'Fira mono';
    font-size: 26px;
  }

  .theme-toggle {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid transparent;

    @include center;

    .icon {
      font-size: 28px;
    }

    &:hover {
      cursor: pointer;
      color: var(--color-theme-toggle);
      background-color: var(--color-theme-toggle-bg);
      @include color-transition;
    }
  }
}
