body[data-theme=light] {
  --color-foreground: #383a42;
  --color-background-1: #bed4be;
  --color-background-2: #dddddd;
  --color-border: #4f525d;
  --color-higlight: #195e1718;
  --color-theme-toggle: #b85300;
  --color-theme-toggle-bg: #00000030;
  --color-green: #195e17;
  --color-blue: #1721a1;
  --color-yellow: #b85300;
}

body[data-theme=dark] {
  --color-foreground: #dcdfe4;
  --color-background-1: #343a44;
  --color-background-2: #282c34;
  --color-border: #000000;
  --color-higlight: #ffffff18;
  --color-theme-toggle: #d8940c;
  --color-theme-toggle-bg: #ffff0018;
  --color-green: #a5ca8b;
  --color-blue: #7db7e6;
  --color-yellow: #e2a41f;
}
