body[data-theme=light] {
  --color-foreground: #383a42;
  --color-background-1: #bed4be;
  --color-background-2: #dddddd;
  --color-border: #4f525d;
  --color-higlight: #195e1718;
  --color-theme-toggle: #b85300;
  --color-theme-toggle-bg: #00000030;
  --color-green: #195e17;
  --color-blue: #1721a1;
  --color-bright-yellow: #f3a600;
  --color-highlight-yellow: #c1830140;
  --color-cursor-color: #4f525d;
  --color-selection-background: #ffffff;
  --color-black: #383a42;
  --color-bright-black: #4f525d;
  --color-white: #fafafa;
  --color-bright-white: #ffffff;
  --color-red: #e45649;
  --color-bright-red: #df6c75;
  --color-bright-green: #98c379;
  --color-bright-blue: #61afef;
  --color-yellow: #c18301;
  --color-purple: #a626a4;
  --color-brightPurple: #c577dd;
  --color-cyan: #0997b3;
  --color-bright-cyan: #56b5c1;
}

body[data-theme=dark] {
  --color-foreground: #dcdfe4;
  --color-background-1: #343a44;
  --color-background-2: #282c34;
  --color-border: #000000;
  --color-higlight: #ffffff18;
  --color-theme-toggle: #d8940c;
  --color-theme-toggle-bg: #ffff0018;
  --color-green: #a5ca8b;
  --color-blue: #7db7e6;
  --color-yellow: #e5c07b;
  --color-bright-yellow: #d8940c;
  --color-highlight-yellow: #ffff0018;
  --color-cursor-color: #ffffff;
  --color-selection-background: #ffffff;
  --color-black: #282c34;
  --color-bright-black: #5a6374;
  --color-white: #dcdfe4;
  --color-bright-white: #dcdfe4;
  --color-red: #e06c75;
  --color-bright-red: #e06c75;
  --color-bright-green: #98c379;
  --color-bright-blue: #61afef;
  --color-purple: #c678dd;
  --color-bright-purple: #c678dd;
  --color-cyan: #56b6c2;
  --color-bright-cyan: #56b6c2;
}
