.file-explorer {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-border);
  color: var(--color-foreground);
  background-color: var(--color-background-2);
  transition: color 300ms, background-color 300ms, border-color 300ms;
}
