#header {
  color: var(--color-foreground);
  background-color: var(--color-background-1);
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: var(--color-border);
  transition: color 300ms, background-color 300ms, border-color 300ms;
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .app-name {
  font-family: "Fira mono";
  font-size: 30px;
}
#header .theme-toggle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .theme-toggle .icon {
  font-size: 30px;
}
#header .theme-toggle:hover {
  cursor: pointer;
  color: var(--color-bright-yellow);
  background-color: var(--color-highlight-yellow);
  transition: color 300ms, background-color 300ms, border-color 300ms;
}
